<!-- SECTION -->

<style>
    #CouponMsg {
      font-size: medium;
    }
    input[type="text"]::placeholder {
      color: #FAC564;
      opacity: 1;
      display: block;
}
</style>

<div class="row my-5">

  <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="row glass-blur py-5">
      <div class="section">
        <!-- container -->
        <div class="container">

           <div class="my-3 row py-3 mr-0" style="max-width: 45rem;">
            <div class="coupon">
              <h3 id="CouponMsg"></h3>
              <form id="ApplyCoupon" class="container-fluid w-100">
                <div class="container-fluid d-flex">
                  <div class="">
                    <input
                      type="text"
                      class="text-center text-warning"
                      name="coupon"
                      style="padding: 7px ; box-sizing: border-box;border: 1px solid #FAC564; border-radius: 4px; width: 120px;color:#FAC564"
                      placeholder="Enter Code"
                    />
                  </div>

                  <div class="">
                    <button
                      type="submit"
                      class="btn btn-outline-warning"
                      style="width: fit-content; height: fit-content;color:#FAC564; margin-left: 3rem;"
                    >Apply Coupon</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- row -->
          

          <div class="row" style="margin-top: 20px;">
            <form action="" id="checkout-form">
              {{! <div class="row"> }}
              {{! <div class="col-md-7"> }}
              <div class="row" style="display: flex;">
                <div class="col-6" style="padding-left: 35px;">
                  <h3>Select Delivery Address</h3>
                </div>
                <div class="col-6 d-flex" style="padding-left: 50px;">
                  <a
                    href="/view-address"
                    class="btn btn-outline-light text-light"
                    style="border-radius: 20px;"
                  >View Details</a>
                  <a
                    href="/add-address"
                    class="btn btn-warning ml-3"
                    style="border-radius: 20px;"
                  >Add Address</a>

                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="" style="width: 68%;margin-top: 2rem;">
                    {{#each address}}
                      <div
                        class="d-flex align-item-center"
                        style="width:100%;border-radius: 10px; border-style:double;border-color: black;margin:25px;"
                      >
                        <input
                          type="radio"
                          name="addressid"
                          value="{{this._id}}"
                          checked
                          style="display: block; margin-left: 19px; margin-top: 10px;"
                        />
                        <dl style="margin-left: 30px;">
                          <dt style="margin: 8px;">{{this.firstname}}
                            {{this.lastname}}</dt>
                          <dt style="margin: 8px;">{{this.email}}</dt>
                          <dt style="margin: 8px;">{{this.address}}</dt>
                          <dt style="margin: 8px;">{{this.city}}</dt>
                          <dt style="margin: 8px;">{{this.zipcode}}</dt>

                          <dt style="margin: 8px;">{{this.tel}}</dt>
                          <div>
                            <a
                              href="/edit-address/{{this._id}}"
                              class="btn btn-outline-warning text-warning"
                              style="margin-bottom: 4px;border-radius:20px"
                            >Edit</a>
                          </div>
                        </dl>
                      </div>
                    {{/each}}
                  </div>
                </div>
                {{! </div> }}
                <!-- Order Details -->
                <div class="col-lg-5 mt-5">
                  <div class="order-details">
                    <div class="order-summary">
                      <div class="order-col">
                        <h5>Price Details</h5>

                      </div>
                      {{!-- <div class="order-col">
								<div>Total On MRP</div>
								<div><span>
										<h4 style="color: rgb(172, 17, 17);"><i class="fa fa-inr"
												aria-hidden="true"></i>{{mrp}}</h4>
									</span>
								</div>
							</div> --}}
                      {{!-- <div class="order-col" hidden>
								<div>Total</div>
								<div><strong><span id="tootal">{{total}}</span></strong></div>
							</div> --}}
                      <div
                        class="d-flex mb-1"
                        style="justify-content: space-between;"
                      >
                        <div><strong>Total Amount: </strong></div>
                        <div class="text-light"><i
                            class="bx bx-rupee"
                          ></i><span
                            class="text-light"
                            id="tootal"
                          >{{total}}</span></div>
                      </div>

                      {{!-- {{#if mrpDiscount}}
							<div class="order-col">
								<div>Discount On MRP</div>
								<div style="color: green;"><span> - <i class="fa fa-inr"
											aria-hidden="true"></i>{{mrpDiscount}}</span></div>
							</div>
							{{/if}} --}}
                      <div class="order-col d-flex mb-1"  style="justify-content: space-between;">
                        <div>Coupon Discount:</div>
                        <div style="color: green;"><span id="coupon">
                            -
                            <i
                            class="bx bx-rupee"
                          ></i>{{discount}}</span></div>
                      </div>

              {{#if wallet}}
                <div class="order-products mb-1">
                  <div class="order-col d-flex"  style="justify-content: space-between;">
                    <div>Wallet Amount:</div>
                    <div class="wallet-amt d-flex">
                      <input style="margin-right: 31px; margin-top: 2px;" type="checkbox" id="wallet" name="checked" onclick="checkWallet('100','{{grandTotal}}')" value="100"/>
                    <div><strong><i
                              class="bx bx-rupee"
                            ></i>{{wallet}}</strong></div>
                    </div>
                  </div>
                </div>
							{{/if}}
                      <div class="order-col d-flex" style="justify-content: space-between;">
                        <div><strong>Grand Total:</strong></div>
                        <div class="text-warning" style="font-size: 16px;">  <i
                            class="bx bx-rupee"
                          ></i><strong class="order-total"><span id="total" class="text-warning">
                            {{grandTotal}}</span></strong></div>
                      </div>
                    </div>
                    <h5 class="mt-3">Payment Methods</h5>
                    <div class="payment-method">
                      <div class="input-radio d-flex">
                        <input
                          type="radio"
                          name="payment-method"
                          value="COD"
                          id="payment-1"
                          checked
                          style="display: block; margin-right:10px"
                        />
                        <label for="payment-1">
                          <span></span>
                          Cash on Delivery
                        </label>
                      </div>
                      <div class="input-radio d-flex">
                        <input
                          type="radio"
                          name="payment-method"
                          value="ONLINE"
                          id="payment-2"
                          style="display: block; margin-right:10px"
                        />
                        <label for="payment-2">
                          <span></span>
                          RazorPay
                        </label>
                      </div>
                      <div class="input-radio d-flex">
                        <input
                          type="radio"
                          name="payment-method"
                          value="PAYPAL"
                          id="payment-3"
                          style="display: block; margin-right:10px"
                        />
                        <label for="payment-3">
                          <span></span>
                          Paypal
                        </label>
                      </div>
                    </div>
                    <button
                      class="btn btn-warning mt-2 order-submit"
                      style="border-radius: 20px;"
                      type="submit"
                    >Checkout</button>
                  </div>
                </div>
                <!-- /Order Details -->
              </div>
            </form>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
    </div>
  </div>
</div>
<!-- /SECTION -->

<script src="https://code.jquery.com/jquery-3.4.0.min.js" 
        integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" 
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

<script>
  $(document).ready(function () { function disableBack() {
  window.history.forward() } window.onload = disableBack(); window.onpageshow =
  function (evt) { if (evt.persisted) disableBack() } });
</script>

<script>
    function checkWallet(wallet, total) {
        if (document.getElementById('wallet').checked) {
            let ttotal = parseFloat(total) - parseFloat(wallet)
            document.getElementById('total').innerHTML = ttotal;
        } else {
            document.getElementById('total').innerHTML = total;
        }
    }

    $('#ApplyCoupon').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/applyCoupon',
            method: 'get',
            data: $('#ApplyCoupon').serialize(),
            success: (response) => {
                if (response.CoupenUsed) {
                    document.getElementById('CouponMsg').innerHTML = "Coupon Already Used"
                }
                else if (response.timeout) {
                    document.getElementById('CouponMsg').innerHTML = "Coupon expired"
                }
                else if (response.Coupon) {
                    let total = document.getElementById('tootal').innerHTML
                    console.log(total);

                    document.getElementById('CouponMsg').innerHTML = "Coupon Applied"
                    document.getElementById("total").innerHTML = total - (response.CoupDiscount * total) / 100

                    document.getElementById("coupon").innerHTML = response.CoupDiscount
                }
                else if (response.NoCoupon) {
                    document.getElementById('CouponMsg').innerHTML = "No Coupon Found"
                }
                else if (response.OneCouponUsed) {
                    document.getElementById('CouponMsg').innerHTML = "Already One Coupon Used"
                }

            }

           
        })
    })
</script>